@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
.wrapper {
  height: 100%;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  line-height: 1.5;
}

:root {
  --white: #ffffff;
  --95-white: #f2f2f2;
  --25-white: #404040;
  --black: #000000;
  --dark-maron: #3d0000;
  --maron: #950101;
  --red: #ff0000;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

.header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--maron);
  z-index: -1;
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 0% 100%);
}

.header-content {
  max-width: 1000px;
  background-color: var(--white);
  box-shadow: 1px 1px 5px var(--dark-maron);
}

.profile-block {
  position: relative;
  float: left;
  transform: scale(1.2);
  height: 300px;
  box-shadow: 1px 1px 5px var(--dark-maron);
}

.profile {
  max-width: 300px;
}

.name-txt {
  font-family: "Nixie One", serif;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}

.about-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}

.about-block > p {
  word-wrap: break-word;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
}

.wrapper-projects {
  max-width: 1060px;
  width: 100%;
}

.portfolio-work {
  padding: 20px 0;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  gap: 50px;
}

.card {
  display: grid;
  grid-template-rows: 2fr 1fr;
  position: relative;
  height: 25rem;
  min-width: 20rem;
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0px 0px 5px var(--dark-maron);
}

.img-card {
  overflow: hidden;
}

.img-card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

.project-info-block {
  padding: 10px 18px;
  background-color: var(--95-white);
}

.project-block {
  display: flex;
  justify-content: space-between;
}

.project-txt {
  font-size: 1.2rem;
  font-weight: 600;
}

.project-description {
  font-size: 0.9rem;
  padding: 10px 0px;
  color: var(--25-white);
}

.icons-block {
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
}

.github-icon,
.open-in-new-icon,
.phone-icon,
.email-outline-icon {
  width: 25px;
  fill: var(--white);
}

.github-big-icon,
.linkedin-big-icon,
.twitter-big-icon {
  font-size: 2rem;
  color: var(--white);
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 80px;
  background-color: var(--black);
}

.footer-contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.phone-container,
.email-container {
  display: flex;
  gap: 10px;
}

.footer-media-container {
  display: flex;
  gap: 25px;
}

.footer-img {
  max-width: 700px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .footer-container {
    flex-direction: column;
  }

  .portfolio-work {
    text-align: center;
  }

  .about-block {
    display: block;
  }

  .profile-block {
    margin: 0 3rem 2rem 0;
  }
}

@media (max-width: 600px) {
  .footer-contact-container,
  .contact-info {
    align-items: center;
  }

  .footer-contact-container > p,
  .address > p {
    text-align: center;
  }

  .profile-block {
    margin: 0;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
