@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Poppins", serif;
}

.wrapper {
  min-height: 100vh;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  background-color: rgb(135, 255, 255);
}

.header-content {
  max-width: 1000px;
  background-color: white;
}

.profile-block {
  position: relative;
  float: left;
  min-height: 300px;
}

.profile {
  max-width: 300px;
  transform: scale(1.2);
}

.name-txt {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.about-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 45px;
}
