@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nixie+One&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Libre Baskerville", serif;
}

body {
  line-height: 1.5;
}

.wrapper {
  min-height: 100vh;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  background-color: rgb(135, 255, 255);
}

.header-content {
  max-width: 1000px;
  background-color: white;
}

.profile-block {
  position: relative;
  float: left;
  min-height: 300px;
}

.profile {
  max-width: 300px;
  transform: scale(1.2);
}

.name-txt {
  font-family: "Nixie One", serif;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.about-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 45px;
}
